/*headercontainer style*/
.header-logo {
  background-color: #4c6e9c;
}

.header-container {
  width: 100%;
  padding: 30px 0;
}

.main-logo {
  width: 30%;
  color: white;
}

.header-ad {
  width: 70%;
  height: 100px;
  background-color: red;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*navbar style*/
.navbar {
  background-color: green;
}

.menu-list {
  margin: 0;
  padding: 10px 0;
  color: white;
}

.menu-item {
  display: inline;
  padding: 10px 20px;
}
