/*mainstyle here*/
.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.text-center {
  text-align: center;
}
.table {
  display: table;
  width: 100%;
}
.table-cell {
  display: table-cell;
}
